//COLORS
$color-pink: hsl(322, 100%, 66%);
$color-paleCyan: hsl(193, 100%, 96%);
$color-darkCyan: hsl(192, 100%, 9%);
$color-grayBlue: hsl(208, 11%, 55%);

//FONT-SIZE
$default-font-size: 1.8rem;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;


//FONT- FAMILY
$Poppins: "Poppins", sans-serif;
$Open-Sans: "Open Sans", sans-serif;